# Standard ignores. They don't affect code usability.
__pycache__/
Thumbs.db
*.egg-info/
.ipynb_checkpoints/
*/dist/
*/build/

# Pycharm
*.iws
workspace.xml

# Project-specific
frontend/node_modules
/node_modules
*/private.py

npm-debug.log*
yarn-debug.log*
yarn-error.log*