body {
    /*background-size: 100%;*/
    background-color: #cecece;
    background: url("../images/background.jpg");
    /*background-ali*/
    /*background-position: top-center;*/
    background-repeat: no-repeat;
    background-color: #efefef;
    background-position: top center;
    background-size: auto;

    font-family: 'Karla', sans-serif;
}

/*@media (min-width: 0px) {*/
    /*body {*/
        /*background-image: url("../images/background-slim.jpg");*/
    /*}*/
/*}*/

/*@media (min-width: 800px) {*/
    /*body {*/
        /*background-image: url("../images/background-portrait.jpg");*/
    /*}*/
/*}*/

/*@media (min-width: 1100px) {*/
    /*body {*/
        /*background-image: url("../images/background.jpg");*/
    /*}*/
/*}*/

h1 {
    font-family: 'Karla', sans-serif;
}

h2 {
    font-family: 'Karla', sans-serif;
}

h3 {
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

h4 {
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

input {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;
    /* Not sure why I have to specify font info here; not covered by body. */
    font-family: 'Karla', sans-serif;
    font-size: medium;
}

textarea {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;

    font-family: 'Karla', sans-serif;
    font-size: medium;
}

.card {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;
    font-family: 'Karla', sans-serif;
    font-size: medium;
}

select {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
}

button {
    /* Required for rheostat.*/
    cursor: pointer;
}